<div id="<%= dom_id session %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= session.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User agent:</strong>
    <%= session.user_agent %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ip address:</strong>
    <%= session.ip_address %>
  </p>

</div>
