<div id="<%= dom_id comment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Post:</strong>
    <%= comment.post_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= comment.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= comment.body %>
  </p>

</div>
