@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, ::after, ::before {
    background-color: inherit;
    font-family: inherit;
    color: inherit;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
  }
}
