<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Screen name:</strong>
    <%= user.screen_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">About:</strong>
    <%= user.about %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last seen at:</strong>
    <%= user.last_seen_at %>
  </p>

</div>
