<h1 class="absolute -top-4 py-px px-2 -mx-2 uppercase font-bold text-lg">
  <%= @user.screen_name %>
</h1>

<dl class="grid grid-cols-[fit-content(100%)_1fr] gap-x-2">
  <dt><span class="italic">user</span>:</dt>
  <dd>
    <%= @user.screen_name %>
  </dd>
  <dt><span class="italic">created</span>:</dt>
  <dd>
    <%= time_ago_in_words(@user.created_at) %> ago
  </dd>
  <dt><span class="italic">about</span>:</dt>
  <dd class="prose text-black">
    <%= simple_format @user.about %>
  </dd>
</dl>
