<h1 class="absolute -top-4 py-px px-2 -mx-2 uppercase font-bold text-lg">
  New post
</h1>
<%= link_to "&larr; Back to posts".html_safe, posts_path, class: "absolute -top-4 right-4 py-px px-2 -mx-2 border-2 border-transparent hover:border-black focus:outline-none focus:ring focus:ring-offset-0 focus:ring-blue-500" %>

<%= render "form", post: @post %>